<div class="vw-100">
  <!-- header main image starts -->
  <header class="section-hero">
    <div class="hero-background-wrapper about">
      <div class="video-overlay-layer"></div>
      <div class="container">
        <div class="hero-content text-white text-center">
          <div class="padding-section-large">
            <div class="max-width-medium">
              <div class="margin-bottom margin-small">
                <h1 class="hero-h1">Discover the power of saya</h1>
              </div>
              <p class="hero-p mobile about fw-bold">
                REVOLUTIONARY LEAK PREVENTION AND BILLING PLATFORM FOR
                ENTERPRISE PROPERTIES
              </p>
              <div class="margin-top margin-medium">
                <div class="button-group">
                  <a
                    href="https://saya.life/#contact"
                    class="btn btn-primary btn-lg btn-block mobile-view about"
                  >
                    Book Consultation
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header main image ends -->

  <!-- user number details starts -->
  <div class="container p-5">
    <div>
      <div class="user-details-header">
        <h1 class="fw-bold">
          Increase your cost recovery and your conservation
        </h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-4 d-flex align-items-center flex-column">
        <div class="d-flex align-items-center user-details-number">
          <div [countUp]="208" [options]="{ enableScrollSpy: true }">208</div>
          <div>M+</div>
        </div>
        <h3 class="text-center">Gallons Conserved to Date</h3>
      </div>
      <div class="col-12 col-sm-4 d-flex align-items-center flex-column">
        <div class="d-flex align-items-center user-details-number">
          <div [countUp]="22" [options]="{ enableScrollSpy: true }">22</div>
          <div>K+</div>
        </div>
        <h3 class="text-center">Residents with Billing Services</h3>
      </div>
      <div class="col-12 col-sm-4 d-flex align-items-center flex-column">
        <div class="d-flex align-items-center user-details-number">
          <div [countUp]="200" [options]="{ enableScrollSpy: true }">200</div>
          <div>K+</div>
        </div>
        <h3 class="text-center">Meters Installed in USA</h3>
      </div>
    </div>
  </div>
  <!-- user number details ends -->

  <!-- services will start here -->
  <div
    class="container"
    id="reveal"
    data-aos="fade-up"
    data-aos-duration="3000"
  >
    <div class="row p-4">
      <h1>Submetering Benefits</h1>
    </div>
    <div class="row p-4">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Long Range Wireless Technology</h5>
            <p class="card-text">
              SAYA supports LoRa, NB-IOT and CAT-M technology which allows for
              easy deployment in large single family homes, residential and
              commercial buildings
            </p>
          </div>
        </div>
      </div>
      <!-- Repeat similar structure for other cards -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Saya Gateway</h5>
            <p class="card-text">
              SAYA Gateway is an edge-computing data collector that can receive
              data from over 2000 smart meters and sensors for multi-dwelling
              and commercial applications
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Earthquake Shut Off</h5>
            <p class="card-text">
              Saya platform integrates with Seismic Portal to automatically
              shuts off water supply during earthquake
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Smart Consumption Reports</h5>
            <p class="card-text">
              Ability to dis-aggregate consumption based on specific fixtures
            </p>
          </div>
        </div>
      </div>
      <!-- Repeat similar structure for other cards -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">SAYA Mobile App</h5>
            <p class="card-text">
              Saya platform integrates with Seismic Portal to automatically
              shuts off water supply during earthquake
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Water Sub-metering Platform</h5>
            <p class="card-text">
              Saya Sub-metering platform including Remote reader, risk
              Management and billing applications is the only one stop solution
              for Property Owners & Managers
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- services will ends here -->

  <!-- submetering application starts here will start here -->
  <div class="container" data-aos="fade-left" data-aos-duration="3000">
    <div class="row p-4">
      <h2>Submetering Applications</h2>
      <p>
        No matter the size of your property, we help you maximize your property
        ROI.
      </p>
    </div>

    <div class="row p-4">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100 shadow">
          <img
            src="../../../assets/notification&action.png"
            class="card-img-top h-100"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text fw-bold text-center">Notifications & Action</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100 shadow">
          <img
            src="../../../assets/remote.png"
            class="card-img-top h-100"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text fw-bold text-center">Remote Management</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100 shadow">
          <img
            src="../../../assets/AutoShut.png"
            class="card-img-top h-100"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text fw-bold text-center">Auto Shutoff</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- submetering application cards  will end here -->

  <!--testimonials will start from here-->

  <div class="container" data-aos="fade-right" data-aos-duration="3000">
    <h1 class="text-center p-4">What Our Customers Say</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-12 p-4">
        <div class="card h-100 border-light shadow">
          <div class="card-body">
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <p class="card-text">
              Submeter Solutions impressed us with their expertise and
              efficiency on all our large installations. We value their
              accuracy, speed, and deep understanding of utility billing. We've
              entrusted them with over a dozen projects and have 3 more lined up
              for this year. We're confident in their continued success and look
              forward to a long-term partnership.
            </p>
            <h6>Jonathan Charles</h6>
            <p>Property Manager</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 p-4">
        <div class="card h-100 border-light shadow">
          <div class="card-body">
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <p class="card-text">
              Submeter Solutions made understanding HOA submeters a breeze.
              Trevor and Heather's support was invaluable in effectively
              communicating with unit owners. Highly recommend!
            </p>
            <h6>John Travolta</h6>
            <p>Commercial Property Owner</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 p-4">
        <div class="card h-100 border-light shadow">
          <div class="card-body">
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <p class="card-text">
              Submeter Solutions has been a game-changer for our 22-unit
              building's billing system. From the dedicated specialists to the
              proactive project managers, their customer service goes the extra
              mile. Their expertise ensured a smooth implementation and their
              responsiveness guarantees ongoing support. We're confident in
              their abilities and highly recommend them for any building seeking
              efficient and reliable billing solutions.
            </p>
            <h6>Christian Angino</h6>
            <p>Condo Association Head</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--testimonials will end here-->

  <!-- Accordian will start here -->
  <div class="container mt-5 p-4" data-aos="fade-up" data-aos-duration="3000">
    <div class="text-center p-4">
      <h1>Frequently asked questions</h1>
      <p>Let us help you answer any questions you still have.</p>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            What is water submetering?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="accordionFlushExample "
        >
          <div class="accordion-body">
            Water submetering gauges individual water consumption in each unit,
            enabling precise billing reflective of actual usage.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            In what ways can water submetering contribute to cost reduction?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Billing tenants according to their real water usage promotes
            responsible consumption and effectively lowers overall water
            expenses.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            How accurate is submetering in measuring water consumption?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Certainly, submeters are highly accurate and adhere to industry
            standards for precise water measurement.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour"
          >
            Is it possible to retrofit water submeters into my property?
          </button>
        </h2>
        <div
          id="flush-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Absolutely, we provide professional installation services to
            retrofit properties with water submetering systems.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive"
          >
            What happens if there's a leak in a unit?
          </button>
        </h2>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            We can identify abnormal consumption patterns, aiding in early leak
            detection and facilitating prompt repairs.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseSix"
          >
            Do you provide tenants with water conservation tips?
          </button>
        </h2>
        <div
          id="flush-collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Certainly, we offer resources and tips to assist tenants in
            conserving water and lowering their bills.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven"
            aria-expanded="false"
            aria-controls="flush-collapseSeven"
          >
            Is it possible for me to access my water usage history and bills
            online?
          </button>
        </h2>
        <div
          id="flush-collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Certainly, you can conveniently access your water usage history and
            bills through our online portal..
          </div>
        </div>
      </div>
    </div>
    <!-- Accordian will end here -->

    <!-- consultation will start here -->
    <div class="container-fluid p-4">
      <div
        class="booking-container bg-dark text-white rounded d-flex flex-column align-items-center py-4"
      >
        <div class="booking-content text-center py-4">
          <h2>Submetering done right</h2>
          <p>
            Book a consultation or speak with a real human (we’ll pick up the
            phone).
          </p>
        </div>
        <div class="booking-links py-4">
          <a
            href="https://saya.life/#contact"
            style="margin-right: 15px"
            class="btn btn-primary btn-lg btn-block"
            >Book Consultation</a
          >
        </div>
      </div>
    </div>
    <!-- consultation will end here -->
  </div>
  <!-- Accordian will end here-->
</div>
