<div class="vw-100">
  <!-- header main image starts -->
  <div class="main-container">
    <div class="row top-container">
      <div class="col-12 col-sm-6 top-content-text">
        <div class="top-content-text-box">
          <span class="top-content-main-text">
            Discover the power of water submetering 123
          </span>
          <span class="top-content-sub-text">
            Boost conservation and increase your ROI when you monitor and track
            water utility usage for tenants.
          </span>
          <!-- <button>Book Consultantion</button> -->
        </div>
      </div>
      <div
        class="col-12 col-sm-6 d-flex justify-content-center align-items-center top-content-img-box"
      >
        <img src="../../../assets/images/logo.png" alt="" />
      </div>
    </div>
  </div>
  <!-- header main image ends -->

  <!-- user number details starts -->
  <div class="container">
    <div>
      <div class="user-details-header">
        <h1 class="fw-bold">
          Increase your cost recovery and your conservation
        </h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-4 d-flex align-items-center flex-column">
        <div class="d-flex align-items-center user-details-number">
          <div [countUp]="208" [options]="{ enableScrollSpy: true }">208</div>
          <div>M+</div>
        </div>
        <h3 class="text-center">Gallons Conserved to Date</h3>
      </div>
      <div class="col-12 col-sm-4 d-flex align-items-center flex-column">
        <div class="d-flex align-items-center user-details-number">
          <div [countUp]="22" [options]="{ enableScrollSpy: true }">22</div>
          <div>K+</div>
        </div>
        <h3 class="text-center">Residents with Billing Services</h3>
      </div>
      <div class="col-12 col-sm-4 d-flex align-items-center flex-column">
        <div class="d-flex align-items-center user-details-number">
          <div [countUp]="200" [options]="{ enableScrollSpy: true }">200</div>
          <div>K+</div>
        </div>
        <h3 class="text-center">Meters Installed in USA</h3>
      </div>
    </div>
  </div>
  <!-- user number details ends -->

  <!-- services will start here -->
  <div class="container mt-5 benefits-container">
    <h1>Submetering Benefits</h1>
    <div class="row mt-5">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Share and Collaborate</h5>
            <p class="card-text">
              Studies show utility consumption can drop by 18%-30% within a few
              months. Residents use less when they pay for their usage.
            </p>
          </div>
        </div>
      </div>
      <!-- Repeat similar structure for other cards -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Cut Down Utility Costs</h5>
            <p class="card-text">
              Stay ahead of rate increases from utility companies. Make monthly
              rental rates more competitive in the market
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Boost Your Cash Flow</h5>
            <p class="card-text">
              Elevate your Net Operating Income. Enjoy ROI periods typically
              under 12 months. We offer a free ROI analysis for every proposal!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Increase Property Value</h5>
            <p class="card-text">
              Rise in Net Cash Flow results in increased property values and Cap
              Rates. Buyers prefer properties with submetering in place.
            </p>
          </div>
        </div>
      </div>
      <!-- Repeat similar structure for other cards -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Stabilize Rents</h5>
            <p class="card-text">
              Avoid regular rent hikes as utility rate increases don’t impact
              rents.Buyers prefer properties with submetering in place
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Monthly Billing</h5>
            <p class="card-text">
              Let us handle individual utility charges calculation. Our service
              can essentially be free for property owners.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- services will ends here -->

  <!-- submetering application starts here will start here -->
  <div class="container mt-4 p-4">
    <h2>Submetering Applications</h2>
    <p class="mt-1 mb-4">
      No matter the size of your property, we help you maximize your property
      ROI.
    </p>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="../../../assets/water1.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="../../../assets/water2.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="../../../assets/water3.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="../../../assets/water4.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="../../../assets/water5.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="../../../assets/water6.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- submetering application cards  will end here -->

  <!--testimonials will start from here-->

  <div class="container mt-5">
    <h1 class="text-center mb-4">What Our Customers Say</h1>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100 border-light shadow">
          <div class="card-body">
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <p class="card-text">
              Submeter Solution team has been able to provide fantastic service
              with excellent value. They are accurate, quick, and knowledgeable
              about the utility billing market. I have personally worked with
              Submeter Solutions on a dozen or more large installation projects.
              We have three more scheduled for later this year.We look forward
              to many years of continued successful installation and ongoing
              utility billing services with Submeter Solutions
            </p>
            <h6>Craig Solomon</h6>
            <p>Property Manager</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100 border-light shadow">
          <div class="card-body">
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <p class="card-text">
              Very helpful with understanding how the submeters work in our HOA.
              Trevor and Heather were always very helpful in getting me the
              information I needed to convey to Unit owners throughout the whole
              process. Excellent company to work with.
            </p>
            <h6>John David</h6>
            <p>Commercial Property Owner</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100 border-light shadow">
          <div class="card-body">
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <span class="card-title text-primary">&#x2A;</span>
            <p class="card-text">
              I have had great success with working with Submeter Solutions.
              From the Utility Billing Specialist, to the Project Manager, I
              have always received excellent customer service and support for my
              account. They serve us for the billing for a 22 unit building.
              Highly recommend.
            </p>
            <h6>Christi Angino</h6>
            <p>Condo Association Head</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--testimonials will end here-->

  <!-- Accordian will start here -->
  <div class="container mt-5 p-4">
    <div class="text-center p-4">
      <h1>Frequently asked questions</h1>
      <p>Let us help you answer any questions you still have.</p>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            <span>What is water submetering?</span>
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Water submetering measures individual water consumption within each
            unit, allowing accurate billing based on actual usage.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            How can water submetering reduce costs?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            By billing tenants based on their actual water usage, it encourages
            responsible consumption and reduces overall water expenses
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Is submetering accurate for water consumption measurement?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Yes, submeters are highly accurate and meet industry standards for
            water measurement.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Can I retrofit my property with water submeters?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Yes, we offer professional installation services to retrofit
            properties with water submetering systems.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            What if there's a leak in a unit?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            We can detect unusual consumption patterns, helping to identify
            leaks early, and prompt repairs
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Do you offer water conservation tips to tenants?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Yes, we provide resources and tips to help tenants conserve water
            and reduce their bills.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Can I view my water usage history and bills online?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Yes, you can access your water usage history and bills through our
            online portal.
          </div>
        </div>
      </div>
    </div>
    <!-- Accordian will end here -->

    <!-- consultation will start here -->
    <div class="container-fluid p-4">
      <div
        class="booking-container bg-dark text-white rounded d-flex flex-column align-items-center py-4"
      >
        <div class="booking-content text-center py-4">
          <h2>Submetering done right</h2>
          <p>
            Book a consultation or speak with a real human (we’ll pick up the
            phone).
          </p>
        </div>
        <div class="booking-links py-4">
          <a
            href="#"
            style="margin-right: 15px"
            class="btn btn-primary btn-lg btn-block"
            >Book Consultation</a
          >
          <a href="#" class="btn btn-light btn-lg btn-block">Call Us</a>
        </div>
      </div>
    </div>
    <!-- consultation will end here -->
  </div>
</div>
