<div class="hello vw-100">
  <!-- header will start here -->
  <header class="section-hero">
    <div class="hero-background-wrapper about">
      <div class="video-overlay-layer"></div>
      <div class="container">
        <div class="hero-content text-white text-center">
          <div class="padding-section-large">
            <div class="max-width-medium">
              <div class="margin-bottom margin-small">
                <h1 class="hero-h1">Understanding submetering: Step by step</h1>
              </div>
              <p class="hero-p mobile about">
                We pride ourselves on transparently guiding our clients through
                every step of the submetering process. An efficient, tailored
                experience from start to finish.
              </p>
              <div class="margin-top margin-medium">
                <div class="button-group">
                  <a
                    href="#Timeline"
                    class="btn btn-primary btn-lg btn-block mobile-view about"
                  >
                    Book Consultation
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header will start here -->

  <!-- timeline will start here -->
  <section
    id="Timeline"
    class="section-timeline container-fluid bg-light"
    data-aos="fade-up"
    data-aos-duration="3000"
  >
    <div class="container-large">
      <div class="headline">
        <h2 class="heading-2 price mb-2">How it all began</h2>
      </div>
      <div class="container side-content-block">
        <div class="content-flex-horizontal row col-12">
          <div class="content-col-image-wrapper col-sm-6 col-xs-12">
            <img
              src="https://assets-global.website-files.com/65186ada6c76388b646e0c2c/65208e9149f0042f5b00d5b1_About_Launch.webp"
              alt="The first NoWire device"
              class="side-image"
            />
          </div>
          <div class="content-wrap col-xs-12 col-sm-6">
            <h3 class="side-by-side-headline">Flowing into 2001</h3>
            <div class="content-hero-p-wrapper">
              <div class="paragraphs">
                Our journey began in 2001 when our founder, Jeff Lowry, was
                inspired to create the PulseFlow device for the submetering
                industry, born out of a mission to conserve gas, water, and
                promote sustainable living. As a licensed Professional Engineer
                in Electrical Engineering, Jeff brought a wealth of expertise in
                designing both hardware and software systems.
              </div>
            </div>
          </div>
        </div>
        <div
          class="content-flex-horizontal row col-12"
          style="flex-direction: row-reverse"
        >
          <div class="content-col-image-wrapper col-xs-12 col-sm-6">
            <img
              src="https://assets-global.website-files.com/65186ada6c76388b646e0c2c/65208e9149f0042f5b00d5b1_About_Launch.webp"
              alt="The first NoWire device"
              class="side-image"
            />
          </div>
          <div class="content-wrap col-xs-12 col-sm-6 p-4">
            <h3 class="side-by-side-headline">Flowing into 2001</h3>
            <div class="content-hero-p-wrapper">
              <div class="paragraphs">
                Our journey began in 2001 when our founder, Jeff Lowry, was
                inspired to create the PulseFlow device for the submetering
                industry, born out of a mission to conserve gas, water, and
                promote sustainable living. As a licensed Professional Engineer
                in Electrical Engineering, Jeff brought a wealth of expertise in
                designing both hardware and software systems.
              </div>
            </div>
          </div>
        </div>
        <div class="content-flex-horizontal row col-12">
          <div class="content-col-image-wrapper col-xs-12 col-sm-6">
            <img
              src="https://assets-global.website-files.com/65186ada6c76388b646e0c2c/65208e9149f0042f5b00d5b1_About_Launch.webp"
              alt="The first NoWire device"
              class="side-image"
            />
          </div>
          <div class="content-wrap col-xs-12 col-sm-6">
            <h3 class="side-by-side-headline">Flowing into 2001</h3>
            <div class="content-hero-p-wrapper">
              <div class="paragraphs">
                Our journey began in 2001 when our founder, Jeff Lowry, was
                inspired to create the PulseFlow device for the submetering
                industry, born out of a mission to conserve gas, water, and
                promote sustainable living. As a licensed Professional Engineer
                in Electrical Engineering, Jeff brought a wealth of expertise in
                designing both hardware and software systems.
              </div>
            </div>
          </div>
        </div>
        <div
          class="content-flex-horizontal row col-12"
          style="flex-direction: row-reverse"
        >
          <div class="content-col-image-wrapper col-xs-12 col-sm-6">
            <img
              src="https://assets-global.website-files.com/65186ada6c76388b646e0c2c/65208e9149f0042f5b00d5b1_About_Launch.webp"
              alt="The first NoWire device"
              class="side-image"
            />
          </div>
          <div class="content-wrap col-xs-12 col-sm-6">
            <h3 class="side-by-side-headline">Flowing into 2001</h3>
            <div class="content-hero-p-wrapper">
              <div class="paragraphs">
                Our journey began in 2001 when our founder, Jeff Lowry, was
                inspired to create the PulseFlow device for the submetering
                industry, born out of a mission to conserve gas, water, and
                promote sustainable living. As a licensed Professional Engineer
                in Electrical Engineering, Jeff brought a wealth of expertise in
                designing both hardware and software systems.
              </div>
            </div>
          </div>
        </div>
        <div class="content-flex-horizontal row col-12">
          <div class="content-col-image-wrapper col-xs-12 col-sm-6">
            <img
              src="https://assets-global.website-files.com/65186ada6c76388b646e0c2c/65208e9149f0042f5b00d5b1_About_Launch.webp"
              alt="The first NoWire device"
              class="side-image"
            />
          </div>
          <div class="content-wrap col-xs-12 col-sm-6">
            <h3 class="side-by-side-headline">Flowing into 2001</h3>
            <div class="content-hero-p-wrapper">
              <div class="paragraphs">
                Our journey began in 2001 when our founder, Jeff Lowry, was
                inspired to create the PulseFlow device for the submetering
                industry, born out of a mission to conserve gas, water, and
                promote sustainable living. As a licensed Professional Engineer
                in Electrical Engineering, Jeff brought a wealth of expertise in
                designing both hardware and software systems.
              </div>
            </div>
          </div>
        </div>
        <div
          class="content-flex-horizontal row col-12"
          style="flex-direction: row-reverse"
        >
          <div class="content-col-image-wrapper col-xs-12 col-sm-6">
            <img
              src="https://assets-global.website-files.com/65186ada6c76388b646e0c2c/65208e9149f0042f5b00d5b1_About_Launch.webp"
              alt="The first NoWire device"
              class="side-image"
            />
          </div>
          <div class="content-wrap col-xs-12 col-sm-6">
            <h3 class="side-by-side-headline">Flowing into 2001</h3>
            <div class="content-hero-p-wrapper">
              <div class="paragraphs">
                Our journey began in 2001 when our founder, Jeff Lowry, was
                inspired to create the PulseFlow device for the submetering
                industry, born out of a mission to conserve gas, water, and
                promote sustainable living. As a licensed Professional Engineer
                in Electrical Engineering, Jeff brought a wealth of expertise in
                designing both hardware and software systems.
              </div>
            </div>
          </div>
        </div>
        <div class="content-flex-horizontal row col-12">
          <div class="content-col-image-wrapper col-xs-12 col-sm-6">
            <img
              src="https://assets-global.website-files.com/65186ada6c76388b646e0c2c/65208e9149f0042f5b00d5b1_About_Launch.webp"
              alt="The first NoWire device"
              class="side-image"
            />
          </div>
          <div class="content-wrap col-xs-12 col-sm-6">
            <h3 class="side-by-side-headline">Flowing into 2001</h3>
            <div class="content-hero-p-wrapper">
              <div class="paragraphs">
                Our journey began in 2001 when our founder, Jeff Lowry, was
                inspired to create the PulseFlow device for the submetering
                industry, born out of a mission to conserve gas, water, and
                promote sustainable living. As a licensed Professional Engineer
                in Electrical Engineering, Jeff brought a wealth of expertise in
                designing both hardware and software systems.
              </div>
            </div>
          </div>
        </div>
        <!-- Add similar content-flex-horizontal blocks for other sections -->
      </div>
    </div>
  </section>
  <!-- timeline will end here -->

  <!-- cards will start here -->
  <div
    class="container mt-5 benefits-container"
    data-aos="fade-left"
    data-aos-duration="3000"
  >
    <div class="row p-4">
      <h1>Our Core Values</h1>
    </div>
    <div class="row p-4">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Share and Collaborate</h5>
            <p class="card-text">
              Studies show utility consumption can drop by 18%-30% within a few
              months. Residents use less when they pay for their usage.
            </p>
          </div>
        </div>
      </div>
      <!-- Repeat similar structure for other cards -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Cut Down Utility Costs</h5>
            <p class="card-text">
              Stay ahead of rate increases from utility companies. Make monthly
              rental rates more competitive in the market
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Boost Your Cash Flow</h5>
            <p class="card-text">
              Elevate your Net Operating Income. Enjoy ROI periods typically
              under 12 months. We offer a free ROI analysis for every proposal!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- cards will end here -->

  <!-- local expertise will start here -->
  <div class="container p-4" data-aos="fade-right" data-aos-duration="3000">
    <div
      class="booking-container bg-dark text-white rounded-4 d-flex flex-column align-items-center py-4"
    >
      <div class="booking-content text-center py-4">
        <h2>A National Service with Local Expertise</h2>
        <p>Expert Submeter Solutions in all 50 States</p>
      </div>
      <div class="city-list">
        <div class="list">
          <div class="row">
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
          </div>
          <div class="row">
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
          </div>
          <div class="row">
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
          </div>
          <div class="row">
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
          </div>
          <div class="row">
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
          </div>
          <div class="row">
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
          </div>
          <div class="row">
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
            <div role="listitem" class="col-sm-2">
              <a href="" class="state-links text-white">Alabama</a>
            </div>
          </div>
        </div>
      </div>
      <div class="booking-links py-4">
        <a
          href="#"
          style="margin-right: 15px"
          class="btn btn-primary btn-lg btn-block"
          >Book Consultation</a
        >
        <a href="#" class="btn btn-light btn-lg btn-block">Call Us</a>
      </div>
    </div>
  </div>
  <!-- local expertise will end here -->

  <!-- consultation will start here -->
  <div class="container p-4" data-aos="fade-up" data-aos-duration="3000">
    <div class="mb-5">
      <h1 class="text-center">
        Looking for an exciting career?
        <span class="text-primary text-decoration-underline"
          >Join our team.</span
        >
      </h1>
    </div>
    <div
      class="booking-container bg-dark text-white rounded-4 d-flex flex-column align-items-center py-4"
    >
      <div class="booking-content text-center p-4">
        <h2>Submetering done right</h2>
        <p>
          Book a consultation or speak with a real human (we’ll pick up the
          phone).
        </p>
      </div>
      <div class="booking-links p-4">
        <a
          href="#"
          style="margin-right: 15px"
          class="btn btn-primary btn-lg btn-block"
          >Book Consultation</a
        >
        <a href="#" class="btn btn-light btn-lg btn-block">Call Us</a>
      </div>
    </div>
  </div>
  <!-- consultation will end here -->
</div>
