<div class="container vw-100">
  <div class="about-container">
    <div class="image-container">
      <img src="../../../assets/aboutimage.jpg" alt="Snow" />
      <div class="centered">Centered</div>
    </div>

    <div class="container about-story p-4">
      <div class="about-container">
        <div class="about-content">
          <h1>How it all began</h1>
        </div>
        <div class="about-grid">
          <div class="row">
            <div class="card col-6 h-100 bg-transparent">
              <img
                src="../../../assets/decadelater.webp"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card col-6 h-100">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card col-6 h-100">
              <img
                src="../../../assets/hardwork.webp"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card col-6 h-100">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card col-6 h-100">
              <img
                src="../../../assets/mission.webp"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card col-6">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card col-6 h-100">
              <img
                src="../../../assets/pulseimage.webp"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card col-6">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card col-6 h-100">
              <img
                src="../../../assets/decadelater.webp"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card col-6">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
