<div class="vw-100">
  <header class="section-hero">
    <div class="hero-background-wrapper about">
      <div class="video-overlay-layer"></div>
      <div class="container">
        <div class="hero-content text-white text-center">
          <div class="padding-section-large">
            <div class="max-width-medium">
              <div class="margin-bottom margin-small">
                <h1 class="hero-h1">
                  Exploring submetering through a systematic step-by-step
                  approach
                </h1>
              </div>
              <p class="hero-p mobile about fw-bold">
                We take pride in transparently guiding our clients through each
                stage of the submetering process, ensuring an efficient and
                customized experience from beginning to end
              </p>
              <div class="margin-top margin-medium">
                <div class="button-group">
                  <a
                    href="https://saya.life/#howitwork"
                    class="btn btn-primary btn-lg btn-block mobile-view about"
                  >
                    Our Process
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container mt-5 p-4" data-aos="fade-up" data-aos-duration="3000">
    <div class="text-center p-4">
      <h1>Frequently asked questions</h1>
      <p>Let us help you answer any questions you still have.</p>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            What are the expenses associated with submetering?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            The expenses for water submetering fluctuate based on property size
            and unit count. Reach out to us for a customized quotation
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            How to get started?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            The process of water submetering involves the installation of
            individual water meters in each unit of a multi-unit property. This
            enables precise measurement of water usage and equitable
            distribution of costs among tenants.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Why opt for submetering?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            For initiating water submetering, reach out to our team to schedule
            a consultation. We'll evaluate your property's requirements and
            offer a customized solution.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-4" data-aos="fade-right" data-aos-duration="3000">
    <div
      class="booking-container bg-dark text-white rounded-4 d-flex flex-column align-items-center py-4"
    >
      <div class="booking-content text-center p-4">
        <h2>Submetering done right</h2>
        <p>
          Book a consultation or speak with a real human (we’ll pick up the
          phone).
        </p>
      </div>
      <div class="booking-links p-4">
        <a
          href="https://saya.life/#contact"
          style="margin-right: 15px"
          class="btn btn-primary btn-lg btn-block"
          >Book Consultation</a
        >
      </div>
    </div>
  </div>
</div>
