<div class="vw-100">
  <header class="section-hero">
    <div class="hero-background-wrapper about">
      <div class="video-overlay-layer"></div>
      <div class="container">
        <div class="hero-content text-white text-center">
          <div class="padding-section-large">
            <div class="max-width-medium">
              <div class="margin-bottom margin-small">
                <h1 class="hero-h1">Discover the power of gas submetering</h1>
              </div>
              <p class="hero-p mobile about">
                Boost conservation and increase your ROI when you monitor and
                track gas utility usage for tenants.
              </p>
              <div class="margin-top margin-medium">
                <div class="button-group">
                  <a
                    href="#Timeline"
                    class="btn btn-primary btn-lg btn-block mobile-view about"
                  >
                    Book Consultation
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container mt-5 p-4" data-aos="fade-up" data-aos-duration="3000">
    <div class="text-center p-4">
      <h1>Frequently asked questions</h1>
      <p>Let us help you answer any questions you still have.</p>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            What is water submetering?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Water submetering measures individual water consumption within each
            unit, allowing accurate billing based on actual usage.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            How can water submetering reduce costs?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            By billing tenants based on their actual water usage, it encourages
            responsible consumption and reduces overall water expenses
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Is submetering accurate for water consumption measurement?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Yes, submeters are highly accurate and meet industry standards for
            water measurement.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-4" data-aos="fade-right" data-aos-duration="3000">
    <div class="mb-5">
      <h1 class="text-center">
        Looking for an exciting career?
        <span class="text-primary text-decoration-underline"
          >Join our team.</span
        >
      </h1>
    </div>
    <div
      class="booking-container bg-dark text-white rounded-4 d-flex flex-column align-items-center py-4"
    >
      <div class="booking-content text-center p-4">
        <h2>Submetering done right</h2>
        <p>
          Book a consultation or speak with a real human (we’ll pick up the
          phone).
        </p>
      </div>
      <div class="booking-links p-4">
        <a
          href="#"
          style="margin-right: 15px"
          class="btn btn-primary btn-lg btn-block"
          >Book Consultation</a
        >
        <a href="#" class="btn btn-light btn-lg btn-block">Call Us</a>
      </div>
    </div>
  </div>
</div>
