<nav
  class="navbar navbar-expand-lg vw-100 bg-body-tertiary bg-dark fixed-top p-4"
>
  <div class="container-fluid">
    <div class="row nav-row">
      <div class="col-6 col-md-3">
        <a [routerLink]="[routes.waterSubmeter]">
          <img
            src="assets/logo.png"
            class="ms-3"
            alt="Logo"
            width="150"
            height="50"
          />
        </a>
      </div>
      <div class="col-6 col-md-9 nav-menu">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <div
      class="collapse navbar-collapse desktop-nav"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link fw-bold"
            aria-current="page"
            data-bs-target="#navbarSupportedContent"
            data-bs-toggle="collapse"
            href="#"
            [routerLink]="['about']"
            >About</a
          >
        </li>
        <li class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a
                class="nav-link fw-bold"
                role="button"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                Submeter
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                  [routerLink]="[routes.waterSubmeter]"
                  ngbDropdownItem
                  data-bs-target="#navbarSupportedContent"
                  data-bs-toggle="collapse"
                >
                  Water Submeter
                </button>
                <button
                  [routerLink]="[routes.gasMeter]"
                  ngbDropdownItem
                  data-bs-target="#navbarSupportedContent"
                  data-bs-toggle="collapse"
                >
                  Gas Submetering
                </button>
                <button
                  [routerLink]="[routes.electricMeter]"
                  ngbDropdownItem
                  data-bs-target="#navbarSupportedContent"
                  data-bs-toggle="collapse"
                >
                  Electric Submetering
                </button>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a
            [routerLink]="[routes.billingReport]"
            class="nav-link fw-bold"
            href="#"
            data-bs-target="#navbarSupportedContent"
            data-bs-toggle="collapse"
            >Billing & Reporting</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="[routes.ourProcess]"
            class="nav-link fw-bold"
            href="#"
            data-bs-target="#navbarSupportedContent"
            data-bs-toggle="collapse"
            >Our Process</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold"
            data-bs-target="#navbarSupportedContent"
            data-bs-toggle="collapse"
            href="#"
            >Store</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold"
            href="#"
            data-bs-target="#navbarSupportedContent"
            data-bs-toggle="collapse"
            >Blog</a
          >
        </li>
      </ul>

      <div class="d-flex align-items-center nav-btn">
        <button
          class="btn btn-outline-dark rounded-pill mx-1"
          data-bs-target="#navbarSupportedContent"
          data-bs-toggle="collapse"
        >
          Call Us
        </button>
        <button
          [routerLink]="[routes.getStarted]"
          class="btn btn-primary rounded-pill mx-1"
          data-bs-target="#navbarSupportedContent"
          data-bs-toggle="collapse"
        >
          Get Started
        </button>
      </div>
    </div>
  </div>
</nav>
