@media screen and (max-width: 991px) {
  .nav-row {
    width: 100%;
  }
  .nav-row div {
    display: flex;
    justify-content: space-evenly;
  }
  .nav-row .nav-menu {
    display: flex;
    justify-content: flex-end;
  }
  .nav-btn button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nav-btn {
    justify-content: center;
  }
  .nav-btn button {
    width: 100%;
  }
}
