<div class="p-5">
  <!-- form started here -->
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">
          Let’s make submetering so simple, it’s fun
        </h1>
        <p class="col-lg-10 fs-4">
          Boost conservation and increase your ROI when you monitor and track
          detailed water utility usage for tenants.
        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 shadow">
          <div class="form-floating mb-3">
            <label for="floatingInput">FirstName</label>
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              required
            />
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              required
            />
            <label for="floatingInput">Last Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              required
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
              required
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" /> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Let's talk
          </button>
          <hr class="my-4" />
        </form>
      </div>
    </div>
  </div>
  <!-- form will end here -->

  <!-- services will start here -->
  <div class="container">
    <div class="row p-4">
      <h1 class="fw-bold heading">Need immediate assistance? We’re here.</h1>
    </div>
    <div class="row p-4">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Call Us</h5>
            <a class="card-text"> (426) 228-6831 </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Email Us</h5>
            <a class="card-text"> support@gmail.com </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Visit Us</h5>
            <p class="card-text">19115 68th Ave S H108 Kent, WA 98032</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Schedule a Call</h5>
            <a class="card-text"> Click here </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
