<div class="p-5">
  <!-- form started here -->
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">
          Expand your network, Share ideas & Grow with us
        </h1>
        <p class="col-lg-10 fs-4">Earn Commission on Project Sale</p>
        <p class="col-lg-10 fs-4">Get Marketing, Sales & Technical Support</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5 g-lg-5 py-5 py-xs-1">
        <form class="p-4 p-md-5 border rounded-3 shadow"
              (ngSubmit)="onSubmit(registerForm)"
              #registerForm="ngForm">
          <div class="form-floating mb-3"
               [ngClass]="{
              'has-error': !first_name.valid && isSubmitted == true
            }">
            <div class="mb-2">
              <label for="firstname">Name<span class="requiredField">*</span></label>
            </div>
            <div>
              <input type="text"
                     class="form-control"
                     id="floatingInput"
                     required
                     id="first_name"
                     required
                     minlength="2"
                     autocomplete="off"
                     [(ngModel)]="FirstName"
                     name="name"
                     #first_name="ngModel" />
            </div>
            <span *ngIf="!first_name.valid && isSubmitted == true" class="error">Your Name is required</span>
          </div>
          <div class="form-floating mb-3"
               [ngClass]="{
              'has-error': !company_name.valid && isSubmitted == true
            }">
            <div class="mb-2">
              <label for="companyname">Company Name<span class="requiredField">*</span></label>
            </div>
            <div>
              <input type="text"
                     class="form-control"
                     id="floatingInput"
                     required
                     id="company_name"
                     required
                     minlength="2"
                     autocomplete="off"
                     [(ngModel)]="CompanyName"
                     name="name"
                     #company_name="ngModel" />
            </div>
            <span *ngIf="!company_name.valid && isSubmitted == true" class="error">Company Name is required</span>
          </div>
          <div class="form-floating mb-3"
               [ngClass]="{
              'has-error': !email.valid && isSubmitted == true
            }">
            <div class="mb-2">
              <label for="email">Company Email address<span class="requiredField">*</span></label>
            </div>
            <div>
              <input type="text"
                     class="form-control"
                     id="email"
                     required
                     pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$"
                     [(ngModel)]="Email"
                     name="email"
                     autocomplete="off"
                     #email="ngModel" />
              <span *ngIf="!email.valid && isSubmitted==true && !email.errors?.['pattern']"
                    class="error">Email is required</span>
              <span *ngIf="!email.valid && isSubmitted==true && !email.errors?.['required']"
                    class="error">Email is invalid</span>
            </div>
          </div>
          <div class="form-floating mb-3"
               [ngClass]="{
              'has-error': !message.valid && isSubmitted == true
            }">
            <div class="mb-2">
              <label for="message">Description<span class="requiredField">*</span></label>
            </div>
            <div>
              <textarea class="form-control"
                        id="message"
                        required
                        minlength="2"
                        autocomplete="off"
                        [(ngModel)]="Message"
                        name="message"
                        #message="ngModel"
                        rows="5">
              </textarea>
              <span *ngIf="!message.valid && isSubmitted == true" class="error">Description is required</span>
            </div>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Let's talk
          </button>
          <hr class="my-4" />
        </form>
      </div>
    </div>
  </div>
  <!-- form will end here -->

  <!-- services will start here -->
  <div class="container">
    <div class="row p-4">
      <h1 class="fw-bold heading">Need immediate assistance? We’re here.</h1>
    </div>
    <div class="row p-4">
      <div class="col-lg-6 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Email Us</h5>
            <a class="card-text"> info@saya.life</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Visit Us</h5>
            <p class="card-text">525 S Hewitt Street, Los Angeles 90013, USA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
