<div class="container-fluid bg-dark text-white">
  <div class="row p-5">
    <div class="col-lg-4 col-md-12">
      <img
        src="assets/logo.png"
        alt="Logo"
        class="img-fluid fit-content d-inline"
      />
      <p class="cta-main-paragraph sizing">
        Nationwide service. No unit minimum.
      </p>
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row col-12">
        <div class="col-sm-3 col-md-3">
          <h4>Submeter</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-white text-decoration-none">About</a>
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none"
                >Our Process</a
              >
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none">Store</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <h4>Services</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-white text-decoration-none"
                >Billing & Reporting</a
              >
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none"
                >Water Submeter</a
              >
            </li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <h4>Residents</h4>
          <ul class="list-unstyled">
            <li>
              <a
                href="https://sayaeagle.saya.life/login"
                class="text-white text-decoration-none"
                target="_blank"
                >Tenant Login</a
              >
            </li>
            <li>
              <a
                href="https://sayaeagle.saya.life/login"
                class="text-white text-decoration-none"
                target="_blank"
                >Resident Login</a
              >
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none"
                >Billing FAQ</a
              >
            </li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <h4>Managers</h4>
          <ul class="list-unstyled">
            <li>
              <a
                href="https://sayaeagle.saya.life/login"
                class="text-white text-decoration-none"
                target="_blank"
                >Property Manager Login</a
              >
            </li>
            <li>
              <a
                href="https://sayaeagle.saya.life/login"
                class="text-white text-decoration-none"
                target="_blank"
                >Meter Data Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="bg-light font-weight-bold" />
  <div class="row p-5">
    <div class="col-md-6 text-md-right">
      © {{ date }} Submeter Solutions. All rights reserved.
    </div>
    <div class="col-md-6 text-right">
      <!-- Add your footer icon or content here -->
    </div>
  </div>
</div>
